{% extends "base_generic.html" %}
{% block title %} reset password {% endblock %}
{% block content %}
    {% if validlink %}
        <p>please enter and confirm your password</p>
        <form method="post" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        {{form.new_password1.errors}}
                        <label for="id_new_password1">New Password:</label>
                    </td>
                    <td>{{form.new_password1}}</td>
                </tr>
                <tr>
                    <td>
                        {{form.new_password2.errors}}
                        <label for="id_new_password2">Confirm Password:</label>
                    </td>
                    <td>{{form.new_password2}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="change my password">
                    </td>
                </tr>
            </table>
        </form>
    {% else %}
        <h4>password reset failed</h4>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}